<ngx-spinner template="<img class='w-32 h-32' src='../../../assets/spinner2.gif'/>" bdColor="rgba(255, 255, 255, 1)" [disableAnimation]="false" name="main"></ngx-spinner>
<div *ngIf="showOverlay" class="w-full h-full z-50 bg-white absolute"></div>

<app-navbar></app-navbar>

<nb-layout class="home-layout">
    <nb-layout-column>
        
        <div class="flex space-x-9 justify-center w-full h-full mb-8">
            <div class="w-[25%] xl:w-[15%] rounded-2xl bg-blue-200">
                <p>home-page works!</p>
            </div>

            <div class="w-[50%] xl:w-[70%]  bg-red-200">
                <p>home-page works!</p>
            </div>

            <div class="w-[25%] xl:w-[15%] bg-green-200">
                <p>home-page works!</p>
            </div>
        </div>

    </nb-layout-column>
</nb-layout>