<!-- <ngx-spinner template="<img class='w-32 h-32' src='../../../assets/spinner2.gif'/>" bdColor="rgba(255, 255, 255, 1)" [disableAnimation]="false" name="main"></ngx-spinner>
 -->
<app-navbar></app-navbar>

<ng-container *ngIf="true">
  <nb-layout>

    <nb-layout-column>

      <div class="flex main-container space-x-4 xl:space-x-9 justify-between w-full">

        <perfect-scrollbar [config]="{ wheelSpeed : 0.1 }" class="w-[28%] max-w-[230px] xl:max-w-[245px]">
          <div class="w-full layout-container flex flex-col justify-between">

            <div class="w-full h-24 relative items-center flex justify-around user-card bg-white rounded-xl">
              <div class="absolute w-16 h-16 -ml-16 rounded-full overflow-hidden">
                <ngx-spinner bdColor="rgba(0)" type="ball-clip-rotate" size="default" color="#6366F1" [fullScreen]="false" name="profileImage"></ngx-spinner>
              </div>
              <nb-user *ngIf="userLogged$ | async as user" class="nb-user" [picture]="user?.image? imageUrl+user?.image:''" [badgeText]="user?.image? 'Activo':''" badgeStatus="primary" badgePosition="bottom right" size="giant" [name]="user?.name +' '+ (user?.lastname | slice:0:1)" [title]="'@' + user?.rol">
              </nb-user>
            </div>

            <nb-card class="w-full !rounded-xl menu-card mt-4 px-5 py-3">
              <nb-menu class="navigation-menu" [items]="items"></nb-menu>
            </nb-card>

            <div class="flex flex-col space-y-2">
              <div class="flex w-full px-0.5 items-center justify-between">
                <span class="font-bold text-gray-500 text-[12px]">ANUNCIOS</span>
                <div class="relative mt-[-22px]">
                  <nb-badge [text]="countVideoIndex.toString()" position="top right" status="danger"></nb-badge>
                </div>
              </div>

              <nb-card class="w-full !rounded-xl menu-card !mb-0">
                <nb-card-body class="!p-3.5">
                  <img src="../../../assets/adds.svg" class="!rounded-lg">
                  <img class="absolute w-9 h-9 top-6 right-6" src="../../../assets/promotion.svg">
                  <div class="flex justify-start items-center space-x-2">
                    <button *ngIf="videoindex<3" (click)="open(dialog)" class="bg-pink-500 text-sm hover:bg-pink-600 text-white py-2 px-4 rounded-lg mt-3">
                      Ver vídeo
                    </button>
                    <button *ngIf="videoindex>2" (click)="open(dialog)" class="bg-gradient-to-r from-gray-400 to-gray-400 text-sm text-white py-2 px-4 rounded-lg mt-3" disabled>
                      Ver video
                    </button>
                    <button *ngIf="videoindex>2" (click)="open(dialog)" class="bg-gradient-to-r from-gray-400 to-gray-400 text-sm text-white py-2 px-4 rounded-lg mt-3" disabled>
                      Ver video
                    </button>
                    <button class="h-[38px] rounded-lg relative w-[38px] mt-3 bg-gray-200">
                      <nb-icon class="!absolute !w-5 !h-5 !top-[9px] !left-[9px]" icon="close-outline"></nb-icon>
                    </button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>

          </div>
        </perfect-scrollbar>

        <div class="w-[50%] xl:w-[50%]">
          <div class="w-full layout-container flex flex-col justify-between">

            <div class="h-[84vh]">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>

        <perfect-scrollbar [config]="{ wheelSpeed : 0.1 }" class="w-[28%] max-w-[230px] xl:max-w-[245px]">
          <div *ngIf="userLogged?.rol != 'AdminApp'" class="w-full mt-0.5 layout-container card-shadow flex flex-col justify-between">
            <div class="flex flex-col space-y-2">
              <div class="flex mb-0.1 w-full px-0.5 items-center justify-between">
                <span class="font-bold text-gray-500 text-[12px]">MONEDAS</span>
                <div class="relative mt-[-23px]">
                  <nb-badge class="!bg-[#1f80ff]" [text]="userLogged?.ezCoins" position="top right" status="info"></nb-badge>
                </div>
              </div>

              <nb-card class="w-full !rounded-xl menu-card">
                <nb-card-body class="!px-4">
                  <div class="flex items-center">
                    <img class="w-11 ml-3 h-10 object-cover rounded-full" src="../../../assets/ezCoins.png">
                    <div class="text-left ml-3">
                      <p class="!text-gray-600 !text-[15px] pb-1"><span class="!text-sm text-gray-700 ezcoin-span !font-semibold">{{userLogged?.ezCoins}} EzCoins</span> en tu cuenta</p>
                    </div>
                  </div>
                  <div class="flex mt-3 justify-between space-x-2 mb-1">
                    <button routerLink="/subscription" class="rounded-xl bg-[#1878f3] hover:bg-blue-600 w-full text-sm tracking-wide py-2 text-white">Detalles</button>
                    <button routerLink="/subscription" class="rounded-xl hover:bg-gray-300 bg-gray-200 text-sm tracking-wide text-gray-700 font-semibold px-6 py-2">Más</button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>

          <div *ngIf="userLogged?.rol == 'AdminApp'" class="w-full mt-0.5 layout-container card-shadow flex flex-col justify-between">
            <div class="flex flex-col space-y-2">
              <div class="flex mb-0.1 w-full px-0.5 items-center justify-between">
                <span class="font-bold text-gray-500 text-[12px]">PETICIONES</span>
                <div class="relative mt-[-22px]">
                  <nb-badge *ngIf="chefRequests.length>0" [text]="chefRequests.length" position="top right" status="danger"></nb-badge>
                  <nb-badge *ngIf="chefRequests.length<1" text="0" position="top right" status="danger"></nb-badge>
                </div>
              </div>

              <p *ngIf="chefRequests<=1" class="!font-semibold m-2">¡No tienes peticiones por hoy!<nb-icon icon="checkmark-square-outline" class="ml-1 absolute"></nb-icon>
              </p>
              <nb-card class="w-full !rounded-xl menu-card">
                <nb-card-body class="!px-4" *ngFor="let req of chefRequests">
                  <div class="flex items-center">
                    <div class="ml-3">
                      <p class="!text-gray-600 !text-sm pb-1"><span class="!text-sm text-gray-700 ezcoin-span !font-semibold">{{req?.name}} {{req?.lastname}} @{{req?.username}}</span> Quiere ser Chef</p>
                    </div>
                  </div>
                  <div class="flex mt-3 justify-between space-x-2 mb-1">
                    <button (click)="confirmChefRquest(req._id)" class="rounded-xl bg-[#1878f3] hover:bg-blue-600 w-full text-sm tracking-wide py-2 text-white">Confirmar</button>
                    <button (click)="cancelChefRquest(req._id)" class="rounded-xl hover:bg-gray-300 bg-gray-200 text-sm tracking-wide text-gray-700 font-semibold px-6 py-2">Cancelar</button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </perfect-scrollbar>

      </div>

    </nb-layout-column>
  </nb-layout>
</ng-container>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="!p-2 !pt-4 !rounded-2xl">
    <nb-card-body>

      <iframe class="rounded-[15px]" width="560" height="315" [src]="videos[videoindex].link | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </nb-card-body>
    <nb-card-footer class="flex justify-end items-center !border-none">
      <button class="!rounded-xl" hero status="primary" [disabled]="disableModal" nbButton (click)="ref.close(); addThreeCoins();">EzCoins</button>
      <button class="ml-2 !rounded-xl" nbButton (click)="ref.close()">Cerrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>