<ngx-spinner template="<img class='w-32 h-32' src='../../../assets/spinner2.gif'/>" bdColor="rgba(255, 255, 255, 1)" [disableAnimation]="false" name="main"></ngx-spinner>

<app-navbar></app-navbar>

<ng-container *ngIf="showContent">
    <nb-layout class="home-layout">
        <nb-layout-column>

            <div class="flex space-x-9 justify-center w-full h-full mb-8">
                <div class="w-[25%] xl:w-[15%]">

                    <div class="w-full h-24 items-center flex justify-around user-card bg-white rounded-xl">
                        <nb-user class="nb-user" picture="https://images.unsplash.com/photo-1485893086445-ed75865251e0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fGZhY2V8ZW58MHwyfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" badgeText="Activo" badgeStatus="primary" badgePosition="bottom right" size="giant" name="Marta G" title="@Engineer">
                        </nb-user>
                    </div>

                    <nb-card class="w-full !rounded-xl menu-card mt-5 px-5 py-3">
                        <nb-menu class="navigation-menu" [items]="items"></nb-menu>

                    </nb-card>

                    <nb-card class="w-full !rounded-xl menu-card mt-5 text-center">
                      <nb-card-body>
                        <img src="../../../assets/adds.svg" class="!rounded-lg">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full mt-2">
                          Gana EzCoins
                        </button>
                      </nb-card-body>
                    </nb-card>

                </div>

                <div class="w-[50%] xl:w-[70%]  bg-red-200">
                    <app-latest-recipes></app-latest-recipes>

                    <div class="w-full flex justify-center">
                        <div class="bg-gray-300 w-10/12 flex items-center justify-between">
                            <div>imagen</div>
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="What are you thinking?">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Publish
                            </button>
                        </div>
                    </div>


                    <router-outlet></router-outlet>
                </div>

                <div class="w-[25%] xl:w-[15%] bg-green-200">
                    <p>right</p>
                </div>
            </div>

        </nb-layout-column>
    </nb-layout>
</ng-container>
