<perfect-scrollbar [config]="{ wheelSpeed : 0.1 }">
    <div class="w-full flex-col 2xl:flex-row flex justify-start items-start">
        <div class="rounded-xl shadow-md bg-white w-full h-52 p-5">
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-2">
                    <img class="rounded-xl w-11 h-11" src="https://daisyui.com/tailwind-css-component-profile-1@56w.png">
                    <div class="flex flex-col justify-between">
                        <span class="font-semibold text-gray-800">Laura Fisher</span>
                        <span class="text-[13px] text-gray-400">12 hours ago</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="rounded-xl shadow-md bg-white w-full h-40 p-5">
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-2">
                    <img class="rounded-xl w-11 h-11" src="https://daisyui.com/tailwind-css-component-profile-1@56w.png">
                    <div class="flex flex-col justify-between">
                        <span class="font-semibold text-gray-800">Laura Fisher</span>
                        <span class="text-[13px] text-gray-400">12 hours ago</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="rounded-xl shadow-md bg-white w-full h-40 p-5">
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-2">
                    <img class="rounded-xl w-11 h-11" src="https://daisyui.com/tailwind-css-component-profile-1@56w.png">
                    <div class="flex flex-col justify-between">
                        <span class="font-semibold text-gray-800">Laura Fisher</span>
                        <span class="text-[13px] text-gray-400">12 hours ago</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="rounded-xl shadow-md bg-white w-full h-40 p-5">
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-2">
                    <img class="rounded-xl w-11 h-11" src="https://daisyui.com/tailwind-css-component-profile-1@56w.png">
                    <div class="flex flex-col justify-between">
                        <span class="font-semibold text-gray-800">Laura Fisher</span>
                        <span class="text-[13px] text-gray-400">12 hours ago</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</perfect-scrollbar>