.image-recipe {
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.40);
    @apply w-full h-full rounded-xl transition transform duration-150 hover:scale-105;
}


