<div *ngIf="recipe && userLogged$ | async as user"
    class="rounded-xl space-y-3.5 flex flex-col shadow-md bg-white w-full sm:h-[450px] lg:h-[400px] p-5">
    <div class="flex justify-between items-center">
        <div class="flex items-center space-x-2">
            <img class="rounded-xl w-11 h-11 cursor-pointer" (click)="navigate(recipe.idPublisher.username)"
                [src]="imageUrl+recipe.idPublisher.image">
            <div class="flex flex-col justify-between">
                <span class="font-semibold mb-[-1px] text-[14px] text-gray-800 cursor-pointer"
                    (click)="navigate(recipe.idPublisher.username)">{{ recipe?.idPublisher?.name }} {{
                    recipe?.idPublisher?.lastname }}</span>
                <span class="text-[12px] pl-4 relative mt-[-1px] font-semibold text-gray-400">
                    <nb-icon class="absolute -ml-4 mt-[2px] !text-[15px]" icon="clock-outline"></nb-icon>
                    <span class="pl-[1px]">{{ recipe.dateTime | timeago }}</span>
                </span>
            </div>
        </div>
        <div class="flex space-x-2">
            <div *ngIf="[recipe.type, user] | detailVisibility; else buyRecipe" class="flex space-x-2">
                <button [ngClass]="{'!text-indigo-500':booleanSave == true}"
                    class="text-gray-400 text-[13px] font-semibold transition duration-300 hover:text-indigo-500 space-x-1 flex items-center"
                    (click)="saveRecipe(recipe._id)">
                    <nb-icon class="!text-[22px]" [icon]="booleanSave? 'bookmark':'bookmark-outline'"></nb-icon>
                </button>

                <button [nbContextMenuPlacement]="position" nbContextMenuTag="my-context-menu"
                    class="text-[#76819f] flex flex-col hover:bg-gray-100 border border-gray-300 px-1.5 rounded-md"
                    (click)="open(describeRecipe); getIdRecipe(recipe._id)">
                    <nb-icon icon="more-horizontal-outline"></nb-icon>
                </button>
            </div>

            <ng-template #buyRecipe>
                <button nbTooltip="45 EzCoins" *ngIf="booleanPurchased === false" (click)="purchasedRecipe(recipe._id)"
                    class="flex space-x-0.5 text-sm text-white transform transition duration-150 hover:scale-105 bg-yellow-500 rounded-full items-center justify-between py-1.5 px-4">
                    <span>Comprar</span>
                    <nb-icon icon="shopping-cart"></nb-icon>
                </button>

                <p *ngIf="booleanPurchased === true"
                    class="flex space-x-0.5 text-sm text-white bg-gray-400 rounded-full items-center justify-between py-1.5 px-4">
                    <span>Comprado</span>
                    <nb-icon icon="shopping-cart"></nb-icon>
                </p>
            </ng-template>

        </div>
    </div>

    <span class="text-gray-700 text-[15px] description-span">{{ recipe.description | titlecase}}.</span>
    <div class="flex flex-col lg:flex-row lg:space-y-0 lg:space-x-4 space-x-0 justify-between space-y-4 w-full h-full">
        <div *ngFor="let image of recipe?.image" [ngStyle]="{'background-image': 'url(' + imageUrl + image + ')'}"
            class="image-recipe"></div>
    </div>

    <div class="flex space-x-3 !mt-4 bg-gray-200 px-4 rounded-xl h-[60px] justify-between w-full">
        <button [ngClass]="{'!text-red-500':booleanLike == true}"
            class="text-gray-500 text-[13px] font-semibold hover:text-red-500 space-x-1 flex items-center"
            (click)="giveLike(recipe._id)">
            <nb-icon icon="heart"></nb-icon>
            <span class="mt-0.5">{{ recipe?.likes?.length }}</span>
        </button>

        <button class="text-gray-500 text-[13px] hover:text-blue-500 space-x-1 flex items-center">
            <nb-icon icon="message-circle"></nb-icon>
            <span class="mt-0.5">25</span>
        </button>

        <button class="text-gray-500 text-[13px] ml-52 hover:text-green-500 space-x-1 flex items-center">
            <nb-icon icon="share-outline"></nb-icon>
            <span class="mt-0.5">25</span>
        </button>
    </div>

</div>

<ng-template #describeRecipe let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-body>

            <nb-tabset>
                <nb-tab tabTitle="Detalles" tabIcon="info-outline" responsive>
                    <div class="flex space-x-4 mt-2 max-w-prose">
                        <div class="flex flex-col space-y-4 absolute">

                            <div class="flex space-x-2  ">
                                <nb-icon class="!float-left text-lg !font-medium" nbPrefix icon="book-outline">
                                </nb-icon>
                                <p>Nombre:<br>
                                    {{recipes?.name}}</p>
                            </div>
                            <div class="flex space-x-2  text-lg">
                                <nb-icon class=" !float-left " nbPrefix icon="grid-outline"></nb-icon>
                                <p>Categoría:<br>
                                    {{recipes?.category}}</p>
                            </div>
                        </div>
                        <div class=" space-x-2 text-lg !mx-40">
                            <nb-icon class="float-left" icon="file-text-outline"></nb-icon>
                            <p>Descripción:</p>
                            <p class="! overflow-clip">{{recipes?.description}}</p>
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Ingredientes" tabIcon="shopping-bag-outline" responsive>



                </nb-tab>
                <nb-tab tabTitle="Procedimiento" tabIcon="layers-outline" responsive>


                </nb-tab>
            </nb-tabset>

        </nb-card-body>
        <button class="ml-2 !rounded-xl" nbButton (click)="ref.close()">Cerrar</button>

    </nb-card>
</ng-template>