<perfect-scrollbar class="bg-white relative h-[99%] p-10 rounded-xl" [config]="{ wheelSpeed : 0.4 }">

    <div class="h-full w-full">

        <div class="flex h-full relative flex-col space-y-5 rounded-xl">
            <div class="w-full flex justify-center items-start flex-col">
                <h3 [hidden]="!searchTerm" class="!font-semibold">Resultados de búsqueda</h3>
                <h3 class="-mt-2">{{ searchTerm }}</h3>
            </div>

            <div class="flex relative w-full mx-auto 2xl:w-3/4 mt-8 h-11 space-x-4">
                <input #searchInput (keydown.enter)="searchInputChange( searchInput.value )" class="w-full search bg-gray-100 h-11 px-5 pl-[45px] rounded-xl text-sm relative outline-none" type="search" placeholder="Buscar">
                <button (click)="searchInputChange( searchInput.value )" type="submit" class="absolute left-1 top-[13px]">
                    <svg class="text-gray-400 h-[17px] w-[17px] fill-current" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
                        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                    </svg>
                </button>
                <span *ngIf="results?.users?.length + results?.recipes?.length > 0" class="absolute top-[50px] -left-3 text-[13px] text-gray-600">
                    <span class="font-bold text-gray-700">
                         {{ results?.users?.length + results?.recipes?.length }}
                         {{ results?.users?.length + results?.recipes?.length > 1? 'resultados': 'resultado' }}
                    </span>
                    <span class="font-semibold">{{ results?.users?.length + results?.recipes?.length > 1? 'encontrados': 'encontrado' }}</span>
                </span>

                <button class="flex btn-filter px-4 rounded-xl space-x-2 border border-gray-200 items-center justify-center">
                    <span class="text-gray-600 font-semibold">Filtrar</span>
                    <nb-icon class="!text-indigo-500" icon="options-2-outline"></nb-icon>
                </button>

                <button (click)="clearSearch()" class="flex btn-filter px-3.5 rounded-xl space-x-2 border border-gray-200 items-center justify-center">
                    <nb-icon class="!text-indigo-500" icon="trash-2-outline"></nb-icon>
                </button>
            </div>

            <div [@fadeInOnEnter] *ngIf="results?.users?.length === 0 && results?.recipes?.length === 0" class="text-center flex flex-col space-y-3 h-[55vh] justify-center items-center">
                <h5 class="!text-gray-900">No se encontraron resultados</h5>
                <img src="../../../assets/search-not-found.svg">
            </div>

            <ng-container *ngIf="results?.users?.length !== 0 || results?.recipes?.length !== 0">
                <div class="flex !mt-12 space-y-2 flex-col">
                    <div class="grid gap-4 grid-cols-1 2xl:grid-cols-2">

                        <div [@fadeInUpOnEnter]="{ value: '', params: { delay: i*50 } }" *ngFor="let user of results.users; let i = index" class="relative border border-gray-200 rounded-xl p-3">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="w-2 h-2 rounded-full bg-purple-400"></div>
                                    <span class="text-purple-400 text-xs font-normal pl-1">{{ user?.username }}</span>
                                </div>
                                <button class="cursor-pointer py-2 focus:ring-2 focus:ring-offset-2 rounded-full focus:ring-gray-500">
                                    <svg width="16" height="4" viewBox="0 0 16 4" fill="none">
                                        <path d="M2.11191 2.83331C2.56925 2.83331 2.94 2.46021 2.94 1.99997C2.94 1.53973 2.56925 1.16663 2.11191 1.16663C1.65456 1.16663 1.28381 1.53973 1.28381 1.99997C1.28381 2.46021 1.65456 2.83331 2.11191 2.83331Z" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.90854 2.83331C8.36588 2.83331 8.73663 2.46021 8.73663 1.99997C8.73663 1.53973 8.36588 1.16663 7.90854 1.16663C7.45119 1.16663 7.08044 1.53973 7.08044 1.99997C7.08044 2.46021 7.45119 2.83331 7.90854 2.83331Z" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.705 2.83331C14.1623 2.83331 14.5331 2.46021 14.5331 1.99997C14.5331 1.53973 14.1623 1.16663 13.705 1.16663C13.2477 1.16663 12.877 1.53973 12.877 1.99997C12.877 2.46021 13.2477 2.83331 13.705 2.83331Z" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>

                            <div class="flex space-x-2 mt-1 justify-between items-center">
                                <div class="flex space-x-2">
                                    <img class="w-10 h-10 rounded-full" [src]="imgUrl + user?.image">
                                    <div class="flex flex-col justify-center space-y-[-3px]">
                                        <p class="!text-gray-700 !font-semibold text-sm">{{ user?.name }} {{ user?.lastname }}</p>
                                        <p class="!text-[13px] !text-gray-500">{{ user?.email }}</p>
                                    </div>
                                </div>
                                <div class="text-green-700 bg-green-100 py-1 px-2 rounded text-xs leading-3 mt-2">{{ user.rol === 'Client'? '@Client':'@Chef' }}</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="flex !mt-6 space-y-2 flex-col">

                    <div class="grid gap-4 grid-cols-2 2xl:grid-cols-3">

                        <div [@fadeInUpOnEnter]="{ value: '', params: { delay: i*50 } }" *ngFor="let recipe of results.recipes; let i = index" class="border relative flex flex-col items-center justify-center border-gray-200 rounded-xl p-4 h-56 w-full">
                            <span class="absolute right-2.5 top-2.5">
                                <nb-icon [class.!text-yellow-400]="recipe?.type === 'premium'" class="!text-[18px] text-green-400" [icon]="recipe?.type === 'premium'? 'star':'checkmark-circle-2-outline'"></nb-icon>
                            </span>

                            <span class="absolute flex items-center !text-red-500 rounded-full px-[9px] text-[13px] font-bold left-2.5 top-2.5">
                                <span class="mt-0.5">{{ recipe?.likes.length }}</span>
                                <nb-icon class="!text-[16px]" icon="heart"></nb-icon>
                            </span>

                            <img class="w-20 h-20 rounded-full mt-3 mx-auto" [src]="imgUrl + recipe?.image[0]">
                            <div class="flex mt-2 flex-col items-center">
                                <span class="font-bold text-gray-800">{{ recipe?.name }}</span>
                                <span class="text-[13px] font-semibold text-center -mt-0.5 text-gray-700">{{ recipe?.description | slice:0:40 }}...</span>
                            </div>

                            <button nbButton shape="round" size="small" status="primary" ghost outline class="!font-semibold w-full xl:w-1/2 !tracking-wide text-xs mt-2">
                                Detalles
                                <nb-icon icon="book-outline"></nb-icon>
                            </button>
                        </div>

                    </div>
                </div>
            </ng-container>

        </div>

    </div>

</perfect-scrollbar>
