<perfect-scrollbar [config]="{ wheelSpeed : 0.1 }" class="w-full h-full">
  <div class="flex w-full h-full card-shadow bg-white rounded-xl">
    <div class="w-full justify-center flex">
      <div class="flex w-full left-container flex-col">

        <div class="profile-container w-full h-auto">

          <div class="pattern-container"></div>
          <div class="overlay-container">
            <div class="profile-div h-[95px] bg-gray-800 w-[95px]">
              <ngx-spinner bdColor="rgba(0)" type="ball-clip-rotate" size="default" color="#FFF" [fullScreen]="false" name="image"></ngx-spinner>
              <img *ngIf="user?.image" [src]="imageUrl + user?.image" class="!w-[96px] h-[96px]">
            </div>
          </div>
          <div class="text-right mr-10 mt-4 w-auto">
            <button id="btn-follow" class="bg-indigo-500 py-2 px-4 rounded-full text-white font-bold" [ngClass]="{'hover:bg-red-500 btn-follow': booleanFollowing == true}" (click)="followUser(user?._id)">{{ booleanFollowing == false ? 'Seguir':'' }}</button>
          </div>

          <section class="pb-4 pl-6 items">
            <h1>{{ user?.name | titlecase }} {{ user?.lastname | titlecase }}</h1>
            <h3>{{ user?.username | titlecase }} • {{ user?.email }}</h3>
            <div class="!pt-3 !flex !justify-start !items-start !w-full">
              <div class="text-center"><span
                  class="font-bold text-black !text-sm !bg-white !p-0">{{user?.following.length}}</span><span class="text-gray-600 !text-sm !bg-white !pl-1">
                  Siguiendo</span></div>
              <div class="text-center"><span
                  class="font-bold text-black !text-sm !bg-white !p-0">{{user?.followers.length}}</span><span class="text-gray-600 !text-sm !bg-white !pl-1">
                  Seguidores</span></div>
            </div>
          </section>

        </div>

      </div>
    </div>
  </div>
</perfect-scrollbar>
