<div class="flex w-full h-full card-shadow bg-white rounded-xl">
  <div class="w-full justify-center flex">
    <div class="flex w-full left-container flex-col">

      <div class="profile-container w-full h-[465px]">

        <div class="pattern-container"></div>
        <div class="overlay-container">
          <img *ngIf="userLogged?.image" [src]="imageUrl + userLogged?.image" class="w-[96px] profile-image h-[96px]">
          <div *ngIf="''" (click)="deleteProfileImg()" class="overlay">
            <ion-icon name="trash-outline"></ion-icon>
          </div>
        </div>

        <section class="p-6 pl-32 items">
          <div [hidden]="userLogged?.rol !== 'Client'">
            <button outline shape="round" status="primary" class=" relative float-right !py-2 !font-semibold !pl-4 !pr-9" nbButton>
              Solicitar Ser Chef
              <nb-icon class="absolute right-3.5 !-mt-0.5" icon="award-outline"></nb-icon>
            </button>
          </div>
          <h1>{{ userLogged?.name | titlecase }} {{ userLogged?.lastname | titlecase }}</h1>
          <h3>{{ userLogged?.username | titlecase }} • {{ userLogged?.email }}</h3>
        </section>

        <div class="w-[90%] mx-auto justify-evenly space-x-4 h-32 flex">
          <div class="w-1/3 h-full flex-col justify-between space-y-1.5 flex bg-opacity-70 rounded-xl">
            <span class="w-full !text-[13px] text-gray-800 tracking-wide !font-bold">Últimas publicaciones</span>
            <div class="flex flex-col space-y-2 items-center">
              <div class="flex bg-blue-500 rounded-full p-1 pr-2 justify-between w-full space-x-1">
                <span class="text-[10px] font-bold text-blue-600 w-5 text-center bg-blue-300 rounded-full">1</span>
                <span class="font-semibold tracking-wide !text-[12px] overflow-ellipsis !text-gray-50">Pan Parmesano</span>
                <span class="flex text-white items-center space-x-1 justify-center text-xs rounded-full">
                  <span>25</span>
                  <nb-icon class="!text-xs" icon="heart"></nb-icon>
                </span>
              </div>

              <div class="flex bg-blue-500 rounded-full p-1 pr-2 justify-between w-full space-x-1">
                <span class="text-[10px] font-bold text-blue-600 w-5 text-center bg-blue-300 rounded-full">1</span>
                <span class="font-semibold tracking-wide !text-[12px] overflow-ellipsis !text-gray-50">Pan Parmesano</span>
                <span class="flex text-white items-center space-x-1 justify-center text-xs rounded-full">
                  <span>25</span>
                  <nb-icon class="!text-xs" icon="heart"></nb-icon>
                </span>
              </div>

              <div class="flex bg-blue-500 rounded-full p-1 pr-2 justify-between w-full space-x-1">
                <span class="text-[10px] font-bold text-blue-600 w-5 text-center bg-blue-300 rounded-full">1</span>
                <span class="font-semibold tracking-wide !text-[12px] overflow-ellipsis !text-gray-50">Pan Parmesano</span>
                <span class="flex text-white items-center space-x-1 justify-center text-xs rounded-full">
                  <span>25</span>
                  <nb-icon class="!text-xs" icon="heart"></nb-icon>
                </span>
              </div>
            </div>
          </div>

          <div class="w-1/3 flex flex-col p-4 h-full bg-purple-100 rounded-xl">
            <div class="flex font-semibold text-[13px] justify-between">
              <span class="2xl:text-[15px] text-sm tracking-wide font-bold text-purple-500">Publicaciones</span>
              <span class="flex cursor-pointer !text-xs text-purple-500 font items-center">
                <nb-icon icon="chevron-down-outline"></nb-icon>
              </span>
            </div>

            <span class="font-bold mt-1 text-gray-800 text-3xl">54</span>
            <div class="flex text-gray-700 -mt-1.5 items-center justify-between">
              <span class="text-xs font-bold">Promedio<br>
                <span>26 Me Gusta</span>
              </span>
              <nb-icon class="!text-4xl text-purple-500" icon="pie-chart"></nb-icon>
            </div>
          </div>

          <div class="w-1/3 flex flex-col p-4 h-full bg-indigo-100 rounded-xl">
            <div class="flex font-semibold text-[13px] justify-between">
              <span class="2xl:text-[15px] text-sm tracking-wide font-bold text-indigo-500">Guardadas</span>
              <span class="flex cursor-pointer !text-xs text-indigo-500 font items-center">
                <nb-icon icon="chevron-down-outline"></nb-icon>
              </span>
            </div>

            <span class="font-bold mt-1 text-gray-800 text-3xl">22</span>
            <div class="flex text-gray-700 -mt-1.5 items-center justify-between">
              <span class="text-xs font-bold">Tienes 10<br>
                <span>Recetas Premium</span>
              </span>
              <nb-icon class="!text-[40px] text-indigo-500" icon="pricetags"></nb-icon>
            </div>
          </div>
        </div>

      </div>

      <div class="bg-white text-sm rounded-xl relative">
        <form [formGroup]="profileForm" class="flex edit-form justify-center h-full w-full max-w-3xl mx-auto flex-col p-10 pt-0">
          <div class="grid grid-cols-1 gap-x-4 gap-y-5 sm:grid-cols-2">

            <div class="relative h-32 rounded-lg col-span-2 border-dashed border-2 border-gray-300 bg-white flex justify-center items-center">
              <div class="absolute">
                <div class="flex flex-col items-center ">
                  <ion-icon name="cloud-upload" class="text-gray-300 text-5xl"></ion-icon> <span class="block text-gray-400 font-normal">Foto De Perfil</span>
                  <span class="block text-blue-400 font-normal">Buscar Imagen</span>
                </div>
              </div>

              <div *ngIf="true" class="h-full flex gap-y-1.5 flex-col justify-center items-center w-full bg-white z-50 mx-1 my-1">
                <div class="w-16 h-16 rounded-full flex justify-center items-center">
                </div>
                <span class="text-gray-50 bg-gray-800 tracking-wide text-[11px] px-5 pl-[22px] pt-0.5 pb-1 rounded-full">{{ fileTitle }} <ion-icon (click)="deleteImg()" name="close" class="mb-[-5px] text-lg cursor-pointer"></ion-icon></span>
              </div>
            </div>


            <nb-form-field>
              <nb-icon nbPrefix icon="person-outline"></nb-icon>
              <input shape="semi-round" formControlName="username" fullWidth type="text" nbInput placeholder="Usuario">
            </nb-form-field>



            <nb-form-field>
              <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
              <input shape="semi-round" formControlName="email" fullWidth type="email" nbInput placeholder="Correo">
            </nb-form-field>


            <nb-form-field>
              <nb-icon nbPrefix icon="text-outline"></nb-icon>
              <input shape="semi-round" formControlName="name" fullWidth type="text" nbInput placeholder="Nombre">
            </nb-form-field>

            <nb-form-field>
              <nb-icon nbPrefix icon="text-outline"></nb-icon>
              <input shape="semi-round" formControlName="lastname" fullWidth type="text" nbInput placeholder="Apellido">
            </nb-form-field>

          </div>
        </form>

        <button *ngIf="!formActivated" class="btn-edit-profile flex justify-center items-center">
          <nb-icon icon="edit"></nb-icon>
        </button>
        <button *ngIf="formActivated" (click)="editProfile()" class="btn-save-profile">Guardar <ion-icon name="checkmark"></ion-icon></button>
        <button *ngIf="formActivated" (click)="deactivateForm()" class="btn-close-profile">Cancelar<ion-icon name="close"></ion-icon></button>

      </div>

    </div>
  </div>
</div>