.card-shadow {
    box-shadow: rgba(160, 160, 160, 0.1) 0px 4px 12px!important;
}

.font {
    font-family: 'Open Sans', sans-serif!important;
}

.pattern-container {
    width: 100%;
    height: 200px;
    background-image: url('../../../assets/profileBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.15);
    @apply rounded-xl;
}

.left-container img {
    border: 3px solid white;
    z-index: 0;
    @apply rounded-full absolute ml-5 -mt-12;
}

.overlay-container {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: -50px;
    left: 22px;
    background: rgba(0, 0, 0, 0.85);
    width: 95px;
    height: 96px;
    transition: .5s ease;
    opacity:0;
    text-align: center;
    color: white;
    border-radius: 100px!important;
}


.overlay-container:hover .overlay {
    opacity: 1;
}

.left-container .profile-container h1 {
    @apply text-2xl font-semibold text-gray-900;
}

.left-container .profile-container h3 {
    @apply text-xs font-medium tracking-wide mb-2.5 text-gray-500;
}

.left-container .profile-container .items span {
    font-size: 12px;
    color: #3d3d3f;
    background: rgb(223, 225, 228);
    @apply font-bold rounded-lg mr-1.5 py-1 px-2;
}

.card-container {
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.05);
    font-size: 15px;
    color: #414142;
    @apply bg-white rounded-xl transition transform duration-200 hover:shadow-lg hover:scale-105 font-medium w-full h-20 pl-3.5 pt-4;
}

.card-container ion-icon {
    font-size: 22px;
    position: absolute;
    margin-top: 4px;
}

.card-container input {
    user-select: none;
    margin-top: 7px;
    margin-left: 24px;
    width: 75%;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.card-container:nth-child(1) input, .card-container:nth-child(1) ion-icon {
    @apply text-blue-500;
}

.card-container:nth-child(2) input, .card-container:nth-child(2) ion-icon {
    @apply text-green-500;
}

.card-container input:disabled {
    background: none;
}

.card-container:hover .btn-edit, .card-container:hover .btn-save, .card-container:hover .btn-close {
    opacity: 1;
}

.card-container .btn-edit {
    cursor: pointer;
    font-size: 16px;
    margin-top: -3px;
    @apply absolute right-4 text-blue-600 transition-opacity duration-150 ease-in opacity-0;
}

.card-container .btn-save {
    cursor: pointer;
    font-size: 20px;
    margin-top: -4px;
    right: 37px;
    @apply absolute text-green-500 transition-opacity duration-150 ease-in opacity-0;
}

.card-container .btn-close {
    display: none;
    cursor: pointer;
    font-size: 21px;
    margin-top: -4px;
    right: 13px;
    @apply absolute text-red-500 hidden transition-opacity duration-150 ease-in opacity-0;
}

.profile-title {
    top: 33px;
    left: 0;
    right: 0;
    margin: auto;
    @apply text-xl h-5 absolute font-semibold text-center text-gray-700;
}

.btn-edit-profile {
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.2);
    @apply w-10 h-10 absolute bottom-0 right-4 leading-5 text-white transition-colors duration-200 transform bg-indigo-600 rounded-full hover:bg-indigo-700 focus:bg-indigo-700;
}

.btn-close-profile {
    width: 115px;
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.2);
    background: rgb(253, 50, 50);
    @apply py-2 pl-1.5 absolute bottom-10 right-[164px] leading-5 text-white transition-colors duration-200 transform rounded-full hover:bg-red-600 focus:bg-red-600;
}

.edit-form input {
    color: rgb(114, 122, 145);
    border-color: rgb(241, 245, 249);
    background: rgb(241, 245, 249);
}

.edit-form input:focus {
    border-color: rgb(200, 221, 247)
}

.btn-save-profile {
    width: 115px;
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.2);
    @apply py-2 pl-1.5 absolute bottom-10 right-10 leading-5 text-white transition-colors duration-200 transform bg-indigo-600 rounded-full hover:bg-indigo-700 focus:bg-indigo-700;
}

.btn-save-profile ion-icon {
    font-size: 18px;
    margin-bottom: -3px;
}

.edit-form input:disabled {
    cursor: default;
}